@page "/management"
@inject HttpClient client
@using Admin.ViewModels
@using System.Linq
@using Admin.ResultModels
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IModalService Modal


@if(user != null)
@if(user.IsInRole("SuperAdmin"))
{
<div>
    <button class="btn btn-primary" @onclick="@(() => AddOrgModal())">Add new organisation</button>
</div>
<div class="row">
    <div class="col">
        <div class="card shadow-lg">
            <div class="card-header">
                <h3>
                    Companies
                </h3>
            </div>
            <div class="card-body">
                <table class="table table-responsive table-hover">
                    <thead>
                        <tr>
                            <td>
                                Name
                            </td>
                            <td>
                                CreationDate
                            </td>
                            <td>
                                Head
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        @if(services == null)
                        {
                            <text>Loading...</text>
                        }
                        else
                        @foreach(var serv in services)
                        {

                            <tr>
                                <td>
                                @serv.Name
                            </td>
                            <td>
                                @serv.CreationDate
                            </td>
                            <td>
                                Some dick
                            </td>
                        </tr>
                        }
                    </tbody>

                </table>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card shadow-lg">
            <div class="card-header">
                <h3>
                    Companies
                </h3>
            </div>
            <div class="card-body">
                <table class="table table-responsive table-hover">
                    <thead>
                        <tr>
                            <td>
                                Name
                            </td>
                            <td>
                                CreationDate
                            </td>
                            <td>
                                Head
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        @if(companies == null)
                        {
                            <text>Loading...</text>
                        }
                        else
                        @foreach(var comp in companies)
                        {
                            <tr>
                                <td>
                                @comp.Name
                            </td>
                            <td>
                                @comp.CreationDate
                            </td>
                            <td>
                                Some dick
                            </td>
                        </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
}
else
@if(user.IsInRole("ServiceAdmin") || user.IsInRole("CompanyAdmin"))
{
    @if(HiringResult != null)
    {
    <div>
        @if(HiringResult.Successful)
        {
            <label class="alert-success">@HiringResult.Error</label>
        }
        else
        {
            <label class="alert-danger">@HiringResult.Error</label>
        }
    </div>
    }
    
    @if(IsHiring)
    {    
    <div>
        <EditForm Model="@hireEmpModel" OnValidSubmit="@HireEmp">
            <label>Enter email:</label>
            <InputText class="form-control" @bind-Value="hireEmpModel.Email"></InputText>
            <button class="btn btn-primary" type="submit">Hire Emp</button>
        </EditForm>
    </div>
    }
    else
    {
        <button class="btn btn-primary" @onclick="@(() => SwitchHiring(true))">Hire new user</button>
    }
<div class="row">
    <div class="col">
        <div class="card shadow-lg">
            <div class="card-header">
                <h3>
                    Companies
                </h3>
            </div>
            <div class="card-body">
                <table class="table table-responsive table-hover">
                    <thead>
                        <tr>
                            <td>
                                UserName
                            </td>
                            <td>
                                Name
                            </td>
                            <td>
                                Phone
                            </td>
                            <td>
                                Email
                            </td>
                            <td>
                                Position
                            </td>
                            <td>
                                Role
                            </td>
                            <td>
                                Edit   
                            </td>
                            <td>
                                Fire 
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        @if(emploees == null)
                        {
                            <text>Loading...</text>
                        }
                        else
                        @foreach(var e in emploees)
                        {
                            <tr>
                            <td>
                                <a href="profile/@e.Id">@e.UserName</a>
                            </td>
                            <td>
                                @e.Name
                            </td>
                            <td>
                                @e.PhoneNumber
                            </td>
                            <td>
                                @e.Email
                            </td>
                            <td>
                                @e.Position
                            </td>
                            <td>
                                @e.Role
                            </td>
                            <td>
                                <button class="btn btn-primary" @onclick="@(() => EditEmp(@e.Id))">
                                    Edit
                                </button>
                            </td>
                            <td>
                                <button class="btn btn-danger" @onclick="@(() => FireEmp(@e.Id))">
                                    Fire
                                </button>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
}

@code
{
    System.Security.Claims.ClaimsPrincipal user = null;
    public CompanyModel[] companies;
    public ServiceViewModel[] services;
    public UserLimited[] emploees;
    UserLimited hireEmpModel = new UserLimited();
    bool IsHiring = false;
    Result HiringResult = null;
    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        user = authState.User;
        companies = await client.GetJsonAsync<CompanyModel[]>("api/management/getcompanies");
        services = await client.GetJsonAsync<ServiceViewModel[]>("api/management/getservices");

        if(user.IsInRole("ServiceAdmin"))
        {
            emploees = await client.GetJsonAsync<UserLimited[]>("api/services/getserviceusers");
        }
        else
        if(user.IsInRole("CompanyAdmin"))
        {
            emploees = await client.GetJsonAsync<UserLimited[]>("api/management/getcompanyusers");
        }
        else
        {
            emploees = await client.GetJsonAsync<UserLimited[]>("api/management/getcompanyusers/-1");
        }
    }
    private async Task AddOrgModal()
    {
        Modal.Show<AddServiceCompanyModal>("Add new organisation");
    }
    private async Task EditEmp(string userId)
    {
        ModalParameters parameters = new ModalParameters();
        parameters.Add("UserId", userId);
        Modal.Show<EditEmp>("Edit emp.", parameters);
    }
    private async Task FireEmp(string userId)
    {
        await client.PostJsonAsync<Result>("api/management/fireemp", new FireModel() { Id = userId, IsInService = user.IsInRole("ServiceAdmin") ? true : false});
        await OnInitializedAsync();
        this.StateHasChanged();
    }
    private async void HireEmp()
    {
        HiringResult = await client.PostJsonAsync<Result>("api/management/hireemp", hireEmpModel);
        await OnInitializedAsync();
        IsHiring = false;
        this.StateHasChanged();
    }
    private void SwitchHiring(bool flag)
    {
        IsHiring = flag;
        this.StateHasChanged();
    }
}